<%= form_for(@casette) do |f| %>
  <% if @casette.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@casette.errors.count, "error") %> prohibited this casette from being saved:</h2>

      <ul>
      <% @casette.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :box_id %><br />
    <%= f.text_field :box_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
