<h1>Listing compilations</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Casette</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @compilations.each do |compilation| %>
  <tr>
    <td><%= compilation.title %></td>
    <td><%= compilation.casette_id %></td>
    <td><%= link_to 'Show', compilation %></td>
    <td><%= link_to 'Edit', edit_compilation_path(compilation) %></td>
    <td><%= link_to 'Destroy', compilation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Compilation', new_compilation_path %>
