<%= form_for(@private_location) do |f| %>
  <% if @private_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@private_location.errors.count, "error") %> prohibited this private_location from being saved:</h2>

      <ul>
      <% @private_location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :owner %><br />
    <%= f.text_field :owner %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
