<%= form_for(@tune_in_compilation) do |f| %>
  <% if @tune_in_compilation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tune_in_compilation.errors.count, "error") %> prohibited this tune_in_compilation from being saved:</h2>

      <ul>
      <% @tune_in_compilation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
  <div class="field">
    <%= f.label :compilation_id %><br />
    <%= f.text_field :compilation_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
