<%= form_for(@green_binder) do |f| %>
  <% if @green_binder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@green_binder.errors.count, "error") %> prohibited this green_binder from being saved:</h2>

      <ul>
      <% @green_binder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br />
    <%= f.text_field :location_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
