<h1>Listing green_binders</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @green_binders.each do |green_binder| %>
  <tr>
    <td><%= green_binder.title %></td>
    <td><%= green_binder.location_id %></td>
    <td><%= link_to 'Show', green_binder %></td>
    <td><%= link_to 'Edit', edit_green_binder_path(green_binder) %></td>
    <td><%= link_to 'Destroy', green_binder, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Green binder', new_green_binder_path %>
