<p id="notice"><%= notice %></p>

<p>
  <b>Label:</b>
  <%= @box.label %>
</p>

<p>
  <b>Location:</b>
  <%= @box.location_id %>
</p>


<%= link_to 'Edit', edit_box_path(@box) %> |
<%= link_to 'Back', boxes_path %>
