<%= form_for(@tune_copy) do |f| %>
  <% if @tune_copy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tune_copy.errors.count, "error") %> prohibited this tune_copy from being saved:</h2>

      <ul>
      <% @tune_copy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>

  <div class="field">
    <%= f.label :greenbinder_id %><br />
    <%= f.text_field :greenbinder_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
